@media screen and (max-width: 1024px) {
    :root {
        --main-width: 750px;
        --header-top-gap: 1rem;
        --caption-padding: calc(.25 * var(--main-padding));
    }
}

@media screen and (max-width: 640px) {
    :root {
        --header-top-gap: 1rem;
        --social-icons-bottom-margin: 0rem;
        --caption-padding: calc(2 * var(--main-padding));
    }
}